.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.btn__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
}

.btn {
	padding: 12px 20px;
	border-radius: 16px;
	border: 0;
	outline: 0;
	color: white;
	background-color: var(--primary-color);
	cursor: pointer;
	transition: background-color .3s ease;
}

.btn:hover {
	background-color: var(--primary-color-light);
}